h1 {
    color: blue;
    background-color: yellow;
    border: 1px solid black;
    text-align: center;

  }
#p1 {
    color: black;
    background-color: aqua;
    width: 75%;
}
#video {
    width: 500px;
    border: 2px solid blue;
}
#bob {
    width: 128px;
    border: 2px solid rgb(0, 0, 0) ;
}
#bf {
    text-align: left;
    border: 2px solid red;
    align-self: center;
}
#bobimage{
    border: 1px solid blue;
    width: 128px;
}
#bobvideo{
    width: 500px;
}
#counter{
    border: 2px solid;
}
#view-count{
    font-weight: bold; 
}
#bobflag{
    width: 128px;
    height: 128px;
    border: solid 1px green;
}
#Quote{
    height: 128px;
}
#citizen{
    border: 2px solid green;
    text-align: center;
}
#gallery{
    align-items: center;
    align-content: center;
    border: 3px solid green;
    background-color: antiquewhite;
}